{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "quoteProps": "preserve",

    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "htmlWhitespaceSensitivity": "ignore",
                "vueIndentScriptAndStyle": true
            }
        }
    ]
}
